## Data Transformation For Model

On this notebook, I will be focusing on transforming the final dataset that were generated from the ONET Notebooks. Currently, the notebook is in a long format and I will be performing any cleaning, pivoting to wide format, any dimensionality reduction needed, to create a final matrix (jobs, features) for the content-based recommender model. The model training and computing the similarity and recommendations will be done in another notebook.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('../../../Datasets/Final Datasets/model_dataset.csv')
df.head()

,O*NET-SOC Code,Title,Attribute Type,Element ID,Element Name,Scale Name,Data Value
0,11-1011.00,Chief Executives,Knowledge,2.C.1.a,Administration and Management,Importance,4.78
1,11-1011.00,Chief Executives,Knowledge,2.C.1.a,Administration and Management,Level,6.50
2,11-1011.00,Chief Executives,Knowledge,2.C.1.b,Administrative,Importance,2.42
3,11-1011.00,Chief Executives,Knowledge,2.C.1.b,Administrative,Level,2.69
4,11-1011.00,Chief Executives,Knowledge,2.C.1.c,Economics and Accounting,Importance,4.04